body{
    margin-top: 0;

}



#map {
    background: white;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 40px;
    margin: 6px; 
    border: 1px solid #D2E6F0;
    border-radius: 3px;
    height: 500px;
    width: 100%
}

.navbar {
  /*  box-shadow: none;
    top: 12px;
    left: 2px;*/
}

#cover-spin {
    position: fixed;
    width: 100%;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: rgba(255,255,255,0.7);
    z-index: 9999;
    display: none;
}

@-webkit-keyframes spin {
    from {
        -webkit-transform: rotate(0deg);
    }

    to {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

#cover-spin::after {
    content: '';
    display: block;
    position: absolute;
    left: 48%;
    top: 40%;
    width: 40px;
    height: 40px;
    border-style: solid;
    border-color: black;
    border-top-color: transparent;
    border-width: 4px;
    border-radius: 50%;
    -webkit-animation: spin .8s linear infinite;
    animation: spin .8s linear infinite;
}
.mapa{
    height: 700px;
}

inpunt{
    display: block;
}



.form .registar {
    padding-left: 60px;
    padding-top: 40px;
    padding-bottom: 40px;
    margin: 0 auto;
    color: white;
    border-end-start-radius: 20px;
    border-start-end-radius: 20px;
    background: #F5F5F5;
    box-shadow: 5px 5px 3px #bfe3f2;
}

    /*.form .registar:hover {*/
        /*box-shadow: 10px 10px 10px #2F4F4F;*/

        /*box-shadow:  4px 4px 2px #bfe3f2;
        border: 3px solid #bfe3f2;
    }*/

  
    .fundo {
       
        background: #6377e9;
        background: -webkit-linear-gradient(to left, #2310cf, #1F1C18);
        background: linear-gradient(to left, #4682B4, #1F1C18);
    }

.h3{
    color: white;
}
.rotas{
    background: white;
}

.principal table {
    background: white;
}
.email {
    margin: 150px auto;
    border-end-start-radius: 20px;
    border-start-end-radius: 20px;
    background: #EEE8CD;
    box-shadow: 5px 5px 3px #bfe3f2;
    font-size: 30px;
}

.ativacao {
    position: relative;
    top: 150px;
    padding-left: 40px;
    padding-bottom: 40px;
    margin: 0 auto;
    color: white;
    border-end-start-radius: 20px;
    border-start-end-radius: 20px;
    background: #F5F5F5;
    box-shadow: 5px 5px 3px #bfe3f2;
}

.chk button{
    width: 15px;
 
}

.hirtorico {
    width: 89%;
    margin-left: -10px;
}
.coluna {
    width: auto;
}
/*
.table {
    width: 100%;
}*/

.table thead tr th {
    background-color: #6C6C6C;
    line-height: 200%;
    color: White;
    font-size: 10pt;
}

.form-group #tb_pw input{
    width: 90px;
}

form {
    margin: 0 auto;
    margin-top: 0px;
   
}